{% extends 'home/base.html' %}

{% block title %}{{object.label}} - Wikiname{% endblock %}

{% block content %}
<div class="container">
    <div class="row border-bottom">
        <div class="col">
            <h1 class="h2">{{object.label}} <small class="text-muted">({{object.slug}})</small></h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {{object.description}}
        </div>

        <div class="col-2">
            <a href="{{object.get_edit_url}}"><i class="fas fa-pencil-alt"></i> edit</a>
        </div>
    </div>

    <div class="row">
        <div class="col text-muted">
            {% for alias in object.get_aliases %}
            {{alias}} {% if forloop.last %}{% else %}|{% endif %}
            {% endfor %}
        </div>
    </div>

    {% if object.property.value_type %}
    <div class="row mt-3">
        <div class="col">
            <h2 class="h3">Data type</h2>
        </div>
    </div>

    <div class="row">
        <div class="col border border-secondary">
            {{object.property.get_value_type_display}}
        </div>
    </div>
    {% endif %}

    <div class="row mt-3">
        <div class="col">
            <h2 class="h3">Statements</h2>
        </div>
    </div>

    {% for claim in object.claim_set.all %}
    <div class="row border border-dark">
        <div class="col-2 bg-light border-secondary border-right">
            <a href="{{claim.prop.get_absolute_url}}">{{claim.prop.label}}</a>
        </div>
        <div class="col">
            {% if get_value_url %}
            <a href="{{claim.get_value_url}}">{{claim.get_value_display}}</a>
            {% else %}
            {{claim.get_value_display}}
            {% endif %}
        </div>
        <div class="col">
            <a href="{% url 'home:claim-update' claim.id %}"><i class="fas fa-pencil-alt"></i> edit</a>
        </div>
    </div>    
    {% empty %}
    {% endfor %}

    <div class="row mt-3 float-right">
        <div class="col">
            <a href="{% url 'home:claim-create' %}?slug={{object.slug}}"><i class="fas fa-plus"></i> add statement</a>
        </div>
    </div>
</div>
{% endblock %}