{% extends 'home/base.html' %}

{% block title %}Create a new item - Wikiname{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<div class="container">
    <div class="row border-bottom">
        <div class="col">
            <h1 class="h2">Create a new item</h1>
        </div>
    </div>

    <form method="post">{% csrf_token %}
        {{ form | crispy }}
        <input class="btn btn-primary float-right" type="submit" value="Create item">
    </form>
</div>
{% endblock %}