{% extends 'home/base.html' %}

{% block title %}Special pages - Wikiname{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<div class="container">
    <div class="row border-bottom">
        <div class="col">
            <h1 class="h2">Special pages</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">            
            <ul>
                <li><a href="{% url 'home:item-create' %}">Create a new item</a></li>
                <li><a href="{% url 'home:property-create' %}">Create a new property</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}